.team-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
}

.team-note{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 100px 30px;
}
.team-title{
    padding: 10px;
}
.team-title h1{
    font-size: 4rem;
    color: rgb(223, 214, 214);
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
}
.team-text{
    opacity: 1s;
}
.team-text p{
    font-size: 1.25rem;
    color: rgb(124, 119, 119);
    opacity: 1;
    font-weight: 500;
    text-align: left;
}
.team-memebrer{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}
.team-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(44, 44, 56);
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    cursor: pointer;
}
.team-data:hover{
    border: 2px solid rgb(133,73,161);
}
.team-image{
    padding-top: 5px;
    
}
.team-image img{
    width: 70%;
    border-radius: 50%;
  }
  

.team-name{
   padding-top: 5px;
}

.team-name h1{
    color: rgb(224, 219, 219);
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: .1rem;
    text-align: center;
}
.team-jobs h2{
   color: rgb(133,73,161);
   font-weight: 500;
   font-size: 1rem;
   line-height: 1rem;
   font-family: 'manrope', sans-serif;
   text-align: center;
}
.team-social-media{
    display: flex;
    gap: 0.75rem;
    color: white;
}
.team-social-media .first-icon{
           height: auto;
           max-width: 100%;
           color: gray;
            filter: brightness(0) invert(1) sepia(1) hue-rotate(180deg) saturate(0.01)
           } 
            .team-social-media .first-icon:hover{
                color: rgb(133,73,161);
            filter: sepia(90%) hue-rotate(270deg) saturate(500%);
           }
           .Team-more-link{
            display: flex;
            justify-content: left;
            padding: 10px;
            margin-top: 10px;
           }
  .Team-more-link a{
    color: rgb(133,73,161);
   font-weight: 600;
   text-decoration: none;
   font-size: 1rem;
   line-height: 1rem;
   font-family: 'manrope', sans-serif;
   text-align: center;

  }         

  